body{
background-color: rgba(200,200,200,.08)    
}
.navbar{
background-color:rgba(40,40,40,.8) 
}
.navbar a {
    float: left;
    font-size: 14px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.Dropdown {
    float:left;
    
}