@import url(http://fonts.googleapis.com/css?family=Rubik);
body{
    background-color: rgb(220,230,230);
    font-family: Rubik, sans-serif;
    }
.fthead{
  font-family: Spectral, sans serif;
  font-size:120%;
}
.ftbody{
  font-family: Rubik, sans-serif;
}
    p{
        color:rgba(20,20,30,.9);
        padding-left:10px;
    }
    .materials{
        color:rgba(20,20,30,.9);
        padding:10px;
    }
    .starterdiv{
     max-width:100%;background-color:#201d49;padding:10px;border: 2px solid slategrey;margin-bottom:100px;
    }
    .TreeOne{
      color:azure;
    }
    #panel, #flip {
      padding: 10px;
      text-align: center;
      background-color: #f7dbe4;
      border: solid 2px #757787;
    }
    .displayn{
      display:none;
      max-width:600px;
      margin-bottom:15px;
      margin-left:15px;
    }
    #panel {
      padding: 30px;
      display: none;
    }
    .navigation{
      overflow:hidden;
      background-color:rgba(30,30,40,.95);
      padding: 10px;
      font-family: Spectral, sans serif;
      margin:0;
    }
    .navigation a {
      color:rgb(239, 238, 231);
      text-align:center;
      text-decoration:none;
      font-size:20px;
      padding:10 px;
      margin-right:20px;
    
    }

    .navigation a:hover{
      background-color:rgba(20,20,30,.9);
      padding: 10px 5px;
      }
      .navigaion ul{
        margin: 0;
        padding: 0;
      }
    li.materials{
        color:rgba(20,20,30,.9);
        padding:10px;
        display:block;
    }
    
    h1{
        color:rgba(20,20,30,.9);
        margin-bottom:15px;
        font-family: Spectral, sans serif;
    }
    h2{
        color:rgba(20,20,30,.9);
        margin-bottom:15px;
        font-family: Spectral, sans serif;
    }
    div{ color:rgba(20,20,30,.9);
    }
    .grid-container {
        display: grid;
        grid-template-columns: 33% 33% 33%;
      }
    ul{
    
    background-color:black;
    list-style-type:none;
    overflow:hidden;
    background-color:rgba(30,30,40,.95);
    }
    li{
    float:left;
    
    
    
    }
    li a{
    
    display:block;
    color:rgb(239, 238, 231);
    
    padding: 10px;
    text-align:center;
    
    text-decoration:none;
    font-size:20px;
    }
    li a:hover{
      background-color:rgba(20,20,30,.9);
      }
    tr{
    border-bottom: 1px solid rgba(30,35,40,.9);
      padding:15px;
    }
    td {
    background-color: rgba(50,160,200,.2);
    color:rgb(30,40,50);
      padding:15px;
    
    }
    th{
    background-color: rgba(50,160,200,.8);
      border-top: 2px solid rgba(20,20,30,.9);
    
    color:rgb(30,45,60);
    }
    .progress{
      background-color:rgba(30, 33, 40, 0.9);
      color:rgb(220,230,230);
      font-size:130%;
    padding:2px 10px;
    padding-left:15px;
    margin-bottom:20px;
    margin-top:10px;
    }
    header{
      text-align:center;
      font-family: Spectral, sans serif;
      font-size:300%;
      margin-top:3px;margin-bottom:7px;
    }
    footer{
      background-color:rgba(30,30,40,.95);
      color:rgb(220,230,230);
      padding:10 px;
      text-align:right;
      padding-right:15%;
      margin-top:10px;
      padding-top:20px;
      padding-bottom:40px;
      font-size:110%;
    }
    .foot{
        margin-top:60px;
        margin-bottom:20px;
    text-align:right;
    padding-right:15%;
    }
    .ClothingHeading{
          background-color:rgba(20,20,30,.9);
        color:rgb(220,230,230);
        font-size:140%;
      padding:2px 10px;
      padding-left:15px;
    }
    .goal{
      padding-left:10px;
      margin-top:60px;
    }
    .footernotes{
      color:rgb(220,210,200);
      font-size:80%;
    }
    .welcome{
background-color:rgba(141, 175, 224, .5);
border-bottom: 1px solid rgb(33, 37, 53);
border-top: 1px solid rgb(33, 37, 53);
padding:10px 5px;
margin-left:10px;
    }
    aside.mine{
      width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightgray;
    }
  aside {
    flex: 50%;
width: 40%;
  padding-bottom: 40px;
  padding-top: 20px;
  padding-left: .5rem;
  margin-left: .5rem;
  float: right;
  box-shadow: inset 5px #201d49;
}
#userInput2{
  display:none;
}
#hiddenmessage{
  display:none;
}